<!DOCTYPE html>
html(lang="kr")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet" href="./yosoro.min.css")
    link(rel="stylesheet" href="./index.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css")
    script(src="./hash.js")
    script(src="./qrcode.js")
    script(src="./karaoke.js")
    title Call Image
  body
    .contents-margin
      .song-info
        img.album-cover(src="../dist/data/" + metadata.id + "/bg.png")
        .title-artist
          h1#song-title= metadata.title
          h3#song-artist= metadata.artist
        .sub-div
        .sub-syncinfo
          h3 작사 : <span>#{metadata.lyricist || "미 등록"}, 작곡 : <span>#{metadata.composer || "미 등록"}, 편곡 : <span>#{metadata.editor || "미 등록"}</span>
          h3 마지막 수정 : <span id="year"></span>.<span id="month"></span>.<span id="day"></span> - #<span id="call_hash"></span>
      .call_blocks
        #calltable
      .notices
        .general
          .notices-lists#notices-lists
            p#singTogether.text.hide 이 곡은 떼창 곡입니다. 캐스트의 지시에 맞게 따라 불러주세요.
            p#furiCopy.text.hide 곡 중간에 안무를 따라 하는 부분이 있을 수 있습니다.
            p#notPerformed.text.hide 아직 라이브 된 적이 없는 곡입니다. 콜이 아예 안 들어가거나 들어가지 않는 부분도 있을 수 있으므로 유의해 주세요.
          p.text 모든 콜은 강제적인 사항이 아닌 커뮤니티의 참여에 의존합니다. 또한 커뮤니티 특성상 언제든지 콜표가 수정될 수 있음을 알립니다.
        .copytexts
          p.copy © 2013 PL! © 2017 PL!S © PL!N ©KLabGames ©S ©BUSHI, Call Table by LLCT Contributors.
    .llct-link
      .llct-title
        .logo-title
          img(src="./logo.png")
          h1 LLCT
        .logo-subtitle
          h3 LoveLive Call Table
      img.llct-icon(src="./right.svg")
      .qrcode
        .wack
    .background
      .bggradient
      img.bgimg#llct-bgimg(src="../dist/data/" + metadata.id + "/bg.png")
    script.
      window.addEventListener('DOMContentLoaded', () => {
        var kara = new Karaoke(document.querySelector('#calltable'))
        var karadata = !{karaokeData}
        kara.SetTimelineData(karadata.timeline)
        kara.RenderDOM(false)

        document.querySelector('#call_hash').innerHTML = sha3_256(JSON.stringify(karadata)).substring(0, 8)

        new QRCode(document.querySelector('.wack'), {
          text: "https://lovelivec.kr/?pid=#{metadata.id}",
          width: 180,
          height: 180,
          colorDark : "#0060ad",
        });

        if (#{metadata.singAlong || false}) {
          document.querySelector('#singTogether').classList.remove('hide')
        }

        if (#{metadata.furiCopy || false}) {
          document.querySelector('#furiCopy').classList.remove('hide')
        }

        if (#{metadata.notPerformed || false}) {
          document.querySelector('#notPerformed').classList.remove('hide')
        }
      })

      let date = new Date(#{editAt || Date.now()})

      document.querySelector('#year').innerHTML = date.getFullYear()
      document.querySelector('#month').innerHTML = date.getMonth() + 1
      document.querySelector('#day').innerHTML = date.getDate()